.completeProfile {
  font-family: var(--textFont);
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* padding-top: 20px; */
}

#completeProfileForm {
  padding: 25px;
  width: 100%;
  /* text-align: center; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}

#completeProfileForm input {
  width: 100%;
  font-family: var(--textFont);
}

#completeProfileForm input[type="submit"] {
  border-radius: 25px;
  border: none;
  padding: 8px 0;
  margin-top: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-family: var(--textFont);
}

/* date picker customization */

#profilePic {
  display: none;
}

#profilePiclabel {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
}

.profileWrapper {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  text-align: center;
  /* background-color: red;
  border: solid 1px blue; */
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 15px;
  position: relative;
}

#profilePreview {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#changeImage {
  position: absolute;
  top: 10px;
  right: 1px;
}

.profilesWrapper {
  width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile {
  /* width: 50%; */
  flex: 1 1 0;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 45px 0; */
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  transition: all 300ms ease-in-out;
}

.selected {
  background-color: #eee;
  border: solid 1px black;
  transform: scale(1.1);
}

.filepond--wrapper {
  width: 100%;
  margin: 5px auto;
}

/* the text color of the drop label*/
.filepond--drop-label {
  font-family: var(--textFont);
}
