@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

header {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 5;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
}

.logo img {
  width: auto;
  height: 30px;
}

.logo h1 {
  font-family: var(--logoFont);
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-family: var(--textFont);
}

.login button {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  font-family: var(--textFont);
}

.login div {
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .login div {
    max-width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .login div {
    max-width: 6rem;
  }
}

#signIn {
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}

#signUp {
  text-transform: uppercase;
  background-color: white;
  border: solid 2px black;
  font-weight: bold;
}

#signUp:hover,
#signIn:hover {
  background-color: black;
  color: white;
}

#expend {
  width: 18px;
  height: auto;
  cursor: pointer;
}

.userActions {
  width: 200px;
  border: none;
  border-radius: 5px;
  height: 200px;
  /* float: right; */
  position: fixed;
  right: 10%;
  top: 7vh;
  background-color: white;
  padding: 10px;
  z-index: 9999;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  display: none;
}

.visible {
  display: block;
}

.userActions li {
  list-style-type: none;
  cursor: pointer;
  padding: 5px;
  border-bottom: solid 1px grey;
}

.userActions ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

#userPic {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 50%;
}

.chooseProfile {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .chooseProfile {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 20px 10%;
    border: none;
    /* gap: 20px; */
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    background-color: white;
  }
}
