.MyKilosContainer {
  width: 100%;
  height: 100%;
  margin-top: 22vh;
}

.MyKilosContainer h2,
.MyKilosContainer .infos {
  padding-left: 2vw;
}

.MyKilosContainer .infos {
  font-style: italic;
}

/* masonry */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  padding: 0 2vw;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
}

/*masonry */

.userOffer,
.userBooking {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
}

.MyKilosContainer .userBooking .booking-status {
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  /* font-style: italic; */
  color: var(--green);
  font-size: 1rem;
  /* border: solid 1px red; */
}

.MyKilosContainer .userBooking .payBooking {
  font-family: var(--textFont);
  color: var(--blue);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  width: fit-content;
  text-transform: capitalize;
  text-decoration: none;
}

.userOffer .road,
.userBooking .road {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: var(--blue);
  margin-bottom: 10px;
  z-index: 2;
}

.userOffer {
  background-color: var(--blue);
}

.userBooking .booking-wrapper {
  background-color: var(--blue);
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.userOffer .offer-wrapper {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.offerNumOfkilos {
  margin-top: 10px;
  display: flex;
}

.userBooking .offerTotalPrice,
.offerPrice,
.dates {
  display: flex;
  flex-wrap: wrap;
}

.userOffer .dates div,
.userOffer .offerPrice div,
.userOffer .offerNumOfkilos div,
.userBooking .dates div,
.userBooking .offerPrice div,
.userBooking .offerNumOfkilos div,
.userBooking .offerTotalPrice div {
  flex: 0 0 50%;
}

.userOffer .dates div:nth-child(1),
.userOffer .dates div:nth-child(3),
.userOffer .offerGoods div:nth-child(1),
.userOffer .offerPrice div:nth-child(1),
.userOffer .offerNumOfkilos div:nth-child(1),
.userBooking .dates div:nth-child(1),
.userBooking .dates div:nth-child(3),
.userBooking .offerGoods div:nth-child(1),
.userBooking .offerPrice div:nth-child(1),
.userBooking .offerNumOfkilos div:nth-child(1),
.userBooking .booking-details div:nth-child(1),
.userBooking .offerTotalPrice div:nth-child(1) {
  font-weight: bold;
}

.dates div:nth-child(1),
.dates div:nth-child(2),
.userBooking .booking-details div:nth-child(1) {
  margin-bottom: 10px;
}

.userOffer .offerGoods,
.userOffer .dates,
.userBooking .offerGoods,
.userBooking .dates,
.userBooking .booking-details,
.userBooking .offerTotalPrice {
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 5px 5px;
}

.userOffer .offerNumOfkilos,
.userOffer .offerPrice,
.userBooking .offerNumOfkilos,
.userBooking .offerPrice {
  border-radius: 7px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.actions {
  height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--blue);
  font-family: var(--textFont);
  font-weight: bold;
}

#editOffer,
#bookings {
  text-decoration: none;
  color: #00008b;
}

#deleteOffer,
#bookings {
  cursor: pointer;
}
