.MuiTabs-root {
  width: 100%;
  height: 100%;
  padding: 0 2vw;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
  height: 100%;
}

.MuiTabs-indicator {
  border-bottom: solid 1.5px var(--blue) !important;
}

.MuiTab-root {
  text-transform: capitalize !important;
  font-family: var(--textFont) !important;
  font-weight: bold !important;
  color: var(--blue) !important;
}
