.container {
  margin-top: 25vh;
  /* border: solid 2px blue; */
}

.proposeKilosContainer {
  display: flex;
  justify-content: center;
}

#proposeKilosForm {
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#proposeKilosForm input {
  font-family: var(--textFont);
  margin: 0 0 5px 0;
}

#proposeKilosForm input[type="submit"] {
  /* width: 100%;
  border-radius: 25px;
  border: none;
  padding: 8px 0;
  margin-top: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-family: var(--textFont); */

  font-family: var(--textFont);
  color: var(--blue);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  width: fit-content;
}

#proposeKilosForm #goods {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* border: solid 1px red; */
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#proposeKilosForm .grid-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: flex-end;
  column-gap: 25px;
  margin-bottom: 25px;
}
