.showBookingsContainer {
  /* border: solid 2px red; */
  margin-top: 23vh;
  font-family: var(--textFont);
  padding: 0;
  /* background-color: white; */
}

.showBookingsContainer .offer {
  /* border: solid 1px blue; */
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: center;
}

.showBookingsContainer .offer .offerInfos {
  /* border: solid 1px red; */
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  /* background-color: var(--blue); */
  background-color: var(--blue);
  color: white;
  padding: 15px;
}

.showBookingsContainer .offer .offerInfos li,
.showBookingsContainer .offer .offerInfos ul {
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
}

.showBookingsContainer .offer .offerInfos:nth-child(1) {
  border-radius: 15px 0 0 0;
}

.showBookingsContainer .offer .offerInfos:nth-child(2) {
  border-radius: 0 15px 0 0;
}

.showBookingsContainer .offer .offerInfos:nth-child(5) {
  /* border-radius: 0 0 0 15px; */
}

.showBookingsContainer .offer .offerInfos:nth-child(6) {
  /* border-radius: 0 0 15px 0; */
}

.showBookingsContainer .offer .offerInfos:last-child {
  border-radius: 0 0 15px 15px;
  flex: 0 0 80%;
  text-align: left;
}

.showBookingsContainer .offer .label {
  flex: 1;
  font-weight: bolder;
}

.showBookingsContainer .offer .infos {
  flex: 1;
  padding: 0 0 0 20px;
  /* border: solid 1px black; */
  /* text-align: center; */
}

.showBookingsContainer .offer .infosGoods {
  display: block;
}

.showBookingsContainer .booking {
  /* border: solid 1px red; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

.showBookingsContainer .booking .user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.showBookingsContainer .booking .user div {
  /* border: solid 1px red; */
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.showBookingsContainer .booking img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.showBookingsContainer .booking .bookingTitle {
  font-weight: bold;
}
.showBookingsContainer .booking .bookingDetails::first-letter {
  text-transform: capitalize;
}

.showBookingsContainer .bookings {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  gap: 15px;
  /* border: solid 2px green; */
  padding: 0 2vw 5vh 2vw;
}

.showBookingsContainer .bookings .booking {
  flex: 0 0 300px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .showBookingsContainer .offer {
    flex-direction: column;
    align-items: center;
  }
  .showBookingsContainer .offer .offerInfos {
    width: 90%;
  }
  .showBookingsContainer .offer .offerInfos:nth-child(2) {
    border-radius: 0;
  }
  .showBookingsContainer .offer .offerInfos:nth-child(1) {
    border-radius: 15px 15px 0 0;
  }
  .showBookingsContainer .bookings::-webkit-scrollbar {
    display: none;
  }
}
