#travelerNav {
  overflow-x: auto;
  width: 80%;
  background-color: white;
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -50%); */
}

@media screen and (max-width: 480px) {
  #travelerNav {
    width: 90%;
  }
}

#travelerNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.navItem {
  flex: 1 1 auto;
  white-space: nowrap;
  padding: 25px 0;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--textFont);
  font-weight: 600;
}

.active {
  border-top: solid 3px black;
}

/* hide srollbar */
#travelerNav::-webkit-scrollbar {
  display: none;
}

#travelerNav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
