.TravelerHomeContainer {
  width: 100%;
  height: 100%;
  /* padding-bottom: 10px; */
  /* background-color: red; */
}

.travelerHome {
  width: 100%;
  /* margin: auto; */
  /* background-color: red; */
}

.userOffers {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 2vh 2vw 5vh 2vw;
  flex-wrap: nowrap;
  overflow-y: auto;
  /* height: 350px; */
  /* border: solid 1px red; */
}

.userOffer {
  position: relative;
  width: 300px;
  height: 100%;
  /* height: 315px; */
  flex: 0 0 auto;
  border-radius: 15px;
  padding: 10px;
  overflow-y: auto;
  background-color: white;
  /* background-color: rgba(85, 85, 85, 0.3); */

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.userOffer > .road {
  /* position: sticky;
  top: -10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #00008b;
  /* background-color: #0cbaba;
  background-color: #00008b;
  background-image: linear-gradient(250deg, #00008b 0%, black 74%); */
  /* background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7); */

  margin-bottom: 10px;
  z-index: 2;
}
.offerNumOfkilos {
  margin-top: 10px;
  display: flex;
}

.offerPrice,
.dates {
  display: flex;
  flex-wrap: wrap;
}

.dates div,
.offerPrice div,
.offerNumOfkilos div {
  flex: 0 0 50%;
}

.dates div:nth-child(1),
.dates div:nth-child(3),
.offerGoods div:nth-child(1),
.offerPrice div:nth-child(1),
.offerNumOfkilos div:nth-child(1) {
  font-weight: bold;
}

.dates div:nth-child(1),
.dates div:nth-child(2) {
  margin-bottom: 10px;
}

.userOffer .offerGoods,
.userOffer .dates {
  border-radius: 7px;
  margin-bottom: 10px;
  /* background-color: #dcdcdc; */
  /* background-color: rgba(220, 220, 220, 0.6); */
  /* background-color: rgba(85, 85, 85, 0.3); */
  /* background: #ece9e6;  */
  /* background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  );
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  );  */

  padding: 5px 5px;
}

.userOffer .offerNumOfkilos,
.userOffer .offerPrice {
  /* background-color: #dcdcdc; */
  /* background-color: rgba(220, 220, 220, 0.6); */
  /* background-color: rgba(85, 85, 85, 0.3); */
  /* background: #ece9e6; 
  background-color: white; */
  border-radius: 7px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.actions {
  /* position: sticky; */
  height: 40px;
  /* bottom: -10px; */
  border-radius: 10px;
  margin-top: 5px;
  /* border: solid 1px rgb(243, 243, 249); */
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #00008b;
  font-family: var(--textFont);
  font-weight: bold;
}

#editOffer,
#bookings {
  text-decoration: none;
  color: #00008b;
}

#deleteOffer,
#bookings {
  cursor: pointer;
}

/* @media screen and (max-width: 768px) {
  .userOffer {
    height: 120px;
    width: 300px;
  }
} */

@media screen and (max-width: 480px) {
  .userOffers {
    /* height: 400px; */
  }
  /* .userOffer {
    height: 100%;
  } */
}

/* scroolbar */
/* width */
.userOffers::-webkit-scrollbar,
.showBookingsContainer .bookings::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.userOffers::-webkit-scrollbar-track,
.showBookingsContainer .bookings::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
  margin: 0 2vw;
}

/* Handle */
.userOffers::-webkit-scrollbar-thumb,
.showBookingsContainer .bookings::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
.userOffers::-webkit-scrollbar-thumb:hover,
.showBookingsContainer .bookings::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 700px) {
  .userOffers::-webkit-scrollbar {
    display: none;
  }
}

/* width */
/* .userOffer::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* .userOffer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
  margin: 1vw 0;
} */

/* Handle */
/* .userOffer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
} */

/* Handle on hover */
/* .userOffer::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
