#inboxContainer {
  /* height: calc(75vh - 2vw); */
  height: 70vh;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  /* position: relative; */
  /* margin: auto; */
}

@media screen and (min-width: 1550px) {
  #inboxContainer {
    margin: 25vh auto 0 auto;
  }
}

#inboxIndexWrapper {
  width: 100%;
  height: 100%;
}

#inboxIndexWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chatrooms {
  width: 100%;
  flex: 1 1 auto;
  max-width: 400px;
  height: 100%;
  overflow-y: auto;
  border-right: solid 1px #dbdbdc;
  overflow-x: hidden;
}

.chatrooms .chatroom {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  padding: 5px 40px 5px 5px;
  animation: fadeInRight 350ms ease-in both;
  animation-delay: calc(var(--animationOrder) * 100ms);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /* top: -80%; */
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
    /* top: 0; */
  }
}

.chatrooms .chatroom > div {
  width: 100%;
  overflow: hidden;
}

.chatPersonName {
  font-weight: bold;
  text-transform: capitalize;
}

.chatPersonPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatrooms .chatroom .last-message {
  /* border: solid 1px red; */
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.chatrooms .chatroom .unreadCount {
  position: absolute;
  top: 0;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 30px;
  height: 30px;
  font-family: var(--textFont);
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.roomView {
  width: 100%;
}

.room {
  position: relative;
  overflow-y: hidden;
  /* border: solid 1px red; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.room .chatPersonInfos {
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  background-color: rgba(30, 58, 138, 0.1);
}

.room .message-input {
  /* background-color: yellow; */
  padding: 5px 5px 5px 5px;
}

.room .message-input button[type="submit"] {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.room form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  gap: 15px;
}

.room .message-input button[type="submit"]:active {
  transform: scale(1.2);
}

.room .startConversation {
  text-align: center;
  padding-top: 5px;
}

.room .messagesWrapper {
  /* height: 100%; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 5px;
}

.room .message {
  width: fit-content;
  max-width: 300px;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

.room .received {
  background-color: var(--bodyBakgroundColor);
  clear: both;
}

.room .sent {
  align-self: flex-end;
  background-color: var(--blue);
  color: white;
  /* float: right; */
}

.room .message > div:first-child {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .roomView {
    position: fixed;
    border: solid 1px #dbdbdc;
    width: 96vw;
    height: 90%;
    top: 10%;
    left: 2vw;
    right: 2vw;
    bottom: 0;
    z-index: 6;
    background-color: white;
  }
  .chatrooms {
    max-width: 700px;
    border-right: none;
  }
}
