#announcementsWrapper {
  width: 80%;
  margin: auto;
}

.announcements {
  width: calc(50% - 1.5vh);
}

.offers {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offers .homeOffer {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
}

.offers .homeOffer .offerInfos:first-child {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 10px;
  align-items: center;
  text-transform: capitalize;
}

.offers .homeOffer .offerInfos:first-child > div:last-child {
  justify-self: flex-end;
}

.offers .homeOffer .offerInfos:not(:last-child, :first-child) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 0;
}

.offers .homeOffer .offerInfos:not(:last-child, :first-child) > div:last-child {
  justify-self: flex-end;
}

.offers .homeOffer .offerInfos.dates > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.offers .infosGoods ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offers .infosGoods ul li {
  margin-top: 6px;
}

.videoplayer {
  width: calc(50% - 1.5vh);
  float: right;
  border-radius: 15px;
  height: 200px;
  text-align: center;
  padding-top: 90px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 25px;
}

@media screen and (max-width: 908px) {
  .announcements {
    clear: right;
    width: 100%;
  }
  .videoplayer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .offers .homeOffer:last-child {
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 496px) {
  .offers {
    width: 100%;
  }

  #announcementsWrapper {
    width: 95%;
  }
}
