.homeResearch {
  width: 80%;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border: solid 1px white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#inputs-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 25px;
  row-gap: 25px;
}

@media screen and (min-width: 1210px) {
  #inputs-grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 496px) {
  .homeResearch {
    width: 95%;
  }
}

#search {
  width: 50%;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px black;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  font-family: var(--textFont);
  color: black;
  display: block;
  margin: 20px auto 0 auto;
}
