.myBalance {
  padding: 0 2vw 25px 2vw;
}

.myBalance h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.myBalance h3 {
  font-weight: 400;
}

.myBalance .transaction {
  /* border: solid 1px red; */
  animation: fadeIn 350ms ease-in both;
  animation-delay: calc(var(--animationOrder) * 100ms);
}

.myBalance .transaction .text {
  font-family: var(--textFont);
}

/* MUI */

.myBalance .panel-header {
  width: calc(100% - 7rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 5px;
  position: relative;
  font-family: var(--textFont);
}

.myBalance .panel-header + span {
  /* border: solid 1px red; */
  width: 7rem;
  /* text-align: center; */
  color: var(--green);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myBalance .withdrawal {
  font-family: var(--textFont);
  color: var(--blue);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 7rem;
  /* width: max-content; */
  text-transform: capitalize;
  /* margin-left: 25px; */
  transition: all 350ms ease-in-out;
  /* margin-right: 10px; */
  /* border: solid 1px red; */
}

.myBalance .withdrawal:active {
  transform: scale(1.1);
}

.myBalance .background-wrapper {
  background: url(../../img/airplane-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
}

.myBalance .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 8.5rem);
  min-width: 300px;
  color: white;
  padding: 0 5px;
}

.myBalance .details-title {
  font-weight: bold;
  font-family: var(--textFont);
  text-transform: capitalize;
}

.myBalance .details > :first-child,
.myBalance .details > :nth-child(2),
.myBalance .details-title:last-of-type {
  grid-column: span 2;
}

.myBalance .details > * {
  padding: 10px 0;
}

.myBalance .details ul {
  margin: 0;
  display: flex;
  gap: 5px;
  list-style-type: none;
}

.myBalance .details > :nth-child(4),
.myBalance .details > :nth-child(6) {
  text-transform: capitalize;
}

/* MUI */

.balance-payment-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.paid-amount {
  border: solid 2px var(--blue);
  padding: 5px 10px;
  /* width: 220px; */
  color: white;
  background-color: var(--blue);
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: var(--textFont);
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
