.sendPackageContainer .formWrapper {
  margin: auto;
  margin-bottom: 5vh;
}

#sendPackageForm {
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#sendPackageForm input[type="submit"] {
  font-family: var(--textFont);
  color: var(--blue);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  width: fit-content;
}

.MuiCheckbox-root {
  color: black !important;
}

#bookOffer {
  text-decoration: none;
  color: #00008b;
  margin: auto;
  text-align: center;
}

.noOffersFoundMessage {
  padding: 0 2vw;
  text-align: center;
}
