@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
  --textFont: "Montserrat", sans-serif;
  --logoFont: "Marck Script", cursive;
  --blue: #1e3a8a;
  /* --bodyBakgroundColor: #f9fafb; */
  --bodyBakgroundColor: #f3f6f8;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: var(--textFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 25px;
  background-color: var(--bodyBakgroundColor);
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 110px;
  }
}

#completeProfileForm,
#researchForm,
#proposeKilosForm,
#SignInForm,
#signUpForm {
  background-color: white;
}
