/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap"); */

:root {
  --textFont: "Montserrat", sans-serif;
  --logoFont: "Marck Script", cursive;
  --blue: #1e3a8a;
  --green: #3a8a1e;
  --bodyBakgroundColor: #f3f6f8;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  margin: 0 auto;
  font-family: var(--textFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 25px; */
  padding-bottom: 5vh;
  background-color: var(--bodyBakgroundColor);
}

.formWrapper,
.alert {
  width: 40%;
  font-family: var(--textFont);
}
@media screen and (max-width: 768px) {
  .formWrapper,
  .alert {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .formWrapper,
  .alert {
    width: 95%;
  }
}

#completeProfileForm,
#researchForm,
#proposeKilosForm,
#SignInForm,
#signUpForm,
#sendPackageForm {
  background-color: white;
}

.lds-dual-ring {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  border-color: var(--blue) transparent var(--blue) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
